* {
  box-sizing: border-box ;
  text-align: center;
}

.nav-links {
  margin: 0 auto 2em;
  background-color: black;
  border: 10px solid black;
  border-radius: 100px;
  height: 4rem;
  width: 50em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-links a {
  height: 100%;
  width: 15%;
  margin: 0 auto;
  color: white;
  background-color: gray;
  border-radius: 100px;
  text-decoration: none;
  font-size: 2em
}

.aboutPage {
  border: 40px solid black;
  margin: 0 auto;
  max-width: 90%;
  background-color: #96C3CE;
}

.aboutPage a {
  text-decoration: none;
  margin: 0 5% 0 5%;
}

.info {
  margin: 0 auto;
  max-width: 85%;
  font-size: 2em;
} 

.picture img{
  max-width: 20%;
}

.projectPage {
  margin: 0 auto;
  border:  40px solid black;
  max-width: 90%;
  background-color: #EAF8BF;
  font-size: 2em;
}

.projectPage h2, ul, li {
  margin: 0 auto;
  max-width: 85%
}

.projectPage h2 {
  margin: 1em auto 1em auto;
}

.projectPage li {
  text-align: left;
  margin: .5em auto .5em auto;;
}

.projectPage a {
  text-decoration: none;
  color: #789229;
}

.resumePage {
  margin: 0 auto;
  border: 40px solid black;
  max-width: 90%;
  background-color: rgb(251, 228, 199);
  font-size: 2em;
}

.resumePage h2 {
  text-decoration: underline;
}

.resumePage span {
  font-style: italic;
}

.experience {
  margin: 0 auto;
  max-width: 85%
}

.education {
  margin: 0 auto;
  max-width: 85%
}

.contactPage {
  border: 40px solid black;
  margin: 0 auto;
  max-width: 90%;
  background-color: #D3C4D1;
  font-size: 2em;
}

.contactPage form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em auto;
  max-width: 85%
}

.contactPage input, textarea {
  font-size: 1em;
  text-align: left;
}



.contactPage button {
  width: 7em;
  margin: 0 auto;
}

.contactModal {
  transition: ease-in-out;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.contactModalContent {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  height: 10%;
  width: 50%; /* Could be more or less, depending on screen size */
}

  
.footer {
  border: 20px solid black;
  max-width:  90%;
  margin: 0 auto;
  width: 100%;
  height: 18em;
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
}

.footer img {
  margin-top: .8em;
  height: 14em;
  width: 14em;
}




