* {
  box-sizing: border-box ;
  text-align: center;
}

.nav-links {
  margin: 0 auto;
  background-color: black;
  border: 10px solid black;
  border-radius: 100px;
  height: 4rem;
  width: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-links a {
  height: 100%;
  width: 15%;
  padding: 12px;
  color: white;
  background-color: gray;
  border-radius: 100px;
  text-decoration: none;
  font-size: 2em
}

.aboutPage {
  border: 40px solid black;
  margin: 0 auto;
  max-width: 90%;
  background-color: rgb(251, 228, 199);
}

.aboutPage a {
  text-decoration: none;
  margin: 0 5% 0 5%;
}

.info {
  font-size: 2em
} 

.projectsPage {
  background-color: black;
}

.resumePage {
  margin: 0 auto;
  border: 40px solid black;
  max-width: 90%;
  background-color: rgb(251, 228, 199);
  font-size: 2em;
}

.info {
  margin: 0 auto;
  max-width: 75%;
}

.resumePage h2 {
  text-decoration: underline;
}

.resumePage span {
  font-style: italic;
}

.experience {
  margin: 0 auto;
  max-width: 75%
}

.education {
  margin: 0 auto;
  max-width: 75%
}

.contactPage {
  border: 40px solid black;
  margin: 0 auto;
  max-width: 90%;
  background-color: rgb(251, 228, 199);
  font-size: 2em
}

.contactPage a {
  text-decoration: none;
  color: blue
}



